
<h1>Termos e Condições de uso do Avaliar Meu Professor</h1>

<p> POR FAVOR LER ATENTAMENTE ESTES TERMOS E CONDIÇÕES DE USO ANTES DE UTILIZAR ESTE SITE.
Ao usar este Site, você se compromete a cumprir os seguintes Termos e Condições e quaisquer
mudanças que venham a ser feitas nos mesmos pelo AvalieMeuProfessor, e estar em conformidade
com estes Termos e Condições. Por favor consultar estes Termos e Condições periodicamente para
se inteirar de eventuais mudanças. Se não concorda com estes Termos e Condições, você não tem
autorização para usar este Site.</p>

<h1> Propriedade e direitos autorais (Copyright) </h1>
<p> Exceto quando indicado em contrário neste Site, todos os textos, imagens, marcas, logotipos
e outros conteúdos do mesmo (“Conteúdo do Site”) são protegidos por copyright de &copy; 2016,
AvalieMeuProfessor, todos os direitos reservados. A marca AvalieMeuProfessor, o logotipo com
a lupa é marca registrada e de direito comum do AvalieMeuProfessor. Nenhum conteúdo deste
Site deve ser interpretado como constitutivo de concessão, autorização ou qualquer outra
forma, de qualquer licença ou direito de uso de qualquer Marca Comercial sem a devida e
prévia permissão por escrito do AvalieMeuProfessor ou outra parte que seja eventual proprietária
das Marcas Comerciais. </p>


<h1> Utilização deste Site </h1>
<p>Os usuários do Site não incorrerão encargo algum para usar o Site em conformidade
com esses Termos e Condições. O AvalieMeuProfessor não garante de forma alguma que
essas informações estejam corretas e não se responsabiliza de forma alguma pelo
conteúdo ou serviços fornecidos neste site. Todo conteúdo providenciado dos usuários
será totalmente anônimo.</p>


<h1>Compartilhando suas informações e conteúdos</h1>
<p>Nós somos proprietários de todas as informações e conteúdos que você  publica no AvalieMeuProfessor. </p>

<ol>
  <li>Para onteúdos protegidos por leis de direitos de propriedade intelectual, como fotos e vídeos (conteúdo IP),
     você nos concede especificamente a seguinte permissão, sujeita às nossas configurações de privacidade e
     aplicativos:: você nos concede uma licença global não exclusiva, transferível, sublicenciável,
     livre de royalties para usar qualquer conteúdo IP publicado por você ou associado ao AvalieMeuProfessor
     (Licença IP). Essa Licença IP termina quando nós excluímos nosso conteúdo IP ou nosso site.</li>
  <li>Quando nós excluímos um conteúdo IP, ele é removido de maneira similar ao esvaziamento da lixeira do computador.
     No entanto, entenda que o conteúdo removido pode permanecer em cópias de backup por um período razoável
      (mas não estará disponível para outros).</li>
  <li>Quando você usa um aplicativo, ele pode solicitar sua permissão para acessar seus conteúdos e informações.
     Exigimos que os aplicativos respeitem sua privacidade, e o acordo com esse aplicativo controlará como o mesmo
     poderá usar, armazenar e transferir esse conteúdo e informações. </li>
  <li>Quando você publica conteúdos ou informações usando a opção Público, você está permitindo que todos,
     incluindo pessoas fora do AvalieMeuProfessor, acessem e usem essas informações.</li>
  <li>Seus comentários ou outras sugestões sobre o AvalieMeuProfessor são sempre bem-vindos,
     mas entenda que podemos usar esses comentários ou sugestões sem qualquer obrigação de compensar
     você por eles (assim como você não tem a obrigação de oferecê-los). </li>
</ol>
