@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,800');

//Global theme colors
$white: rgba(255,255, 255, 1);
$off-white: rgb(255, 226, 232);
$black: rgba(0, 0, 0, 1);
$linkblue: rgba(78, 203, 255, 1);
$navbar-blue: rgb(71, 133, 255);
$global-bg: rgb(236, 243, 255);
$grey: rgb(177, 177, 177);
$dark-grey: rgb(62, 62, 62);


//Other style sheets imported (after global theme colors)
@import "navigation";
@import "professors";
@import "reviews";

html {
  position: relative;
  min-height: 100%
}
body {
  background: $global-bg;
  margin-bottom: 40px;
}


// navbar

/* site content */

.jumbotron {
  background-image: url("http://dev.travisfantina.com/services/AvaliarMeuProfessor/jumbo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.intro {
  width: 60%;
}

.intro > p{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: $black;
}
.intro a:link {
  color: $linkblue;
}

.search-bar {
  margin-top: 60px;
}

.recent-profs {
  margin-top: 60px;
  margin-left: -20px;
}
.recent-profs > h1{
  color: $white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

@media (min-width: 768px) {
    .container {
      width: 100%;
      padding: 0px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 976px;

    }
}


@media (min-width: 1200px) {
    .container {
      width: 1176px;

    }
}

.center-block {
  padding: 40px;

}

.review_title {
  margin: 0 0 20px 0;
}
.review{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-top: -5px;
  border-bottom: 1px solid hsl(213, 27%, 62%);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-md-6 {
  margin-top: 10px;
}

.star-rating {
  padding-bottom: 0px;
  padding-left: 5px;
  display: inline-block;
}
.star-rating img {
  margin-top: -5px;

}

/* Footer */

footer {
  position: absolute;
  color: $linkblue;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 10px;
}
footer a:link {
  color: $linkblue;
}

.far-left {
  position: absolute;
  right: 0px;
  color: $black;
  padding-bottom: 10px;
}


/*miscellaneous error stuff */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;

  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar {
  float: right;
  margin-right: 10px;
	}

.location {
  padding: 10px;
  top: 0px;
  left: 0px;
}




/*
a.flag_link_visit:active{
  color: rgb(255, 0, 0);
  text-decoration: none;

} */
