@import "bootstrap-sprockets";
@import "bootstrap";
@import "navigation";

$white: rgba(255,255, 255, 1);
$footer: rgba(4, 101, 91, 1);
$softgrey: rgba(41, 41, 41, 1);
$global-bg: rgb(236, 243, 255);

html {
  position: relative;
  min-height: 100%
}
body {
  background: $global-bg;
  margin-bottom: 40px;
}


// navbar

/* site content */

.center-block {
  background-color: $white;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.intro > p{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $softgrey;
}

.review_title {
  margin: 0 0 20px 0;
}
.review{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-top: -5px;
  border-bottom: 1px solid hsl(213, 27%, 62%);
  .star-rating {
    padding-bottom: 6px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-md-4 img {
  margin-top: 10px;
}
.col-md-6 {
  margin-top: 10px;
}

/* Footer */

footer {
  background-color: $footer;
  color: $softgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

.far-left {
  position: absolute;
  right: 0px;
  color: $softgrey;
  padding-bottom: 10px;
}


/*miscellaneous error stuff */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;

  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar {
  float: right;
  margin-right: 10px;
	}

.location {
  padding: 10px;
  top: 0px;
  left: 0px;
}

.review-panl {
  background-color: rgba(37, 146, 134, .4);
  margin-left: 5px;
}

span.glyphicon {
    font-size: 2em;
}

a.flag_link_visit:active{
  color: rgb(255, 0, 0);
  text-decoration: none;

}
