
$navbar-toggle: rgba(60, 129, 117, 1);

//Something is wrong with the asset pipeline it's not loading these colors from
// application.scss
$white: rgba(255,255, 255, 1);
$black: rgba(0, 0, 0, 1);
$linkblue: rgba(78, 203, 255, 1);
$navbar-blue: rgb(63, 118, 201);
$global-bg: rgb(180, 196, 227);
$skyblue: rgb(82, 148, 255);
$oceanblue: rgb(63, 118, 201);
$pinkberry: rgb(218, 125, 233);
$pinkberry-dark: rgb(177, 88, 191);


.navbar-default {
  border-radius: 0px;
  background-color: $navbar-blue;
  border-color: $navbar-blue;
}


.btn {
  margin-bottom: 15px;
}

// title
.navbar-default .navbar-brand {
    color: $linkblue;
}
.navbar-default .navbar-brand:hover {
    color: $linkblue;
}

.navbar-brand {
  height: 70px;
  padding-right: 30px;

}

// links
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: $white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: $white;
    background-color: $white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: $white;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: $navbar-toggle;
    border-bottom-color: $navbar-toggle;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: $navbar-toggle;
    border-bottom-color: $navbar-toggle;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $navbar-toggle;
    }
}

.navbar-header {
  color: $white;
}

.nav > li > a {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;

}
