
$navbar: rgb(71, 133, 255);
$navbar-toggle: rgba(60, 129, 117, 1);
$white: rgba(255,255, 255, 1);


.navbar-default {
  border-radius: 0px;
  background-color: $navbar;
  border-color: $navbar;
//not sure where this goes
}
.btn {
  margin-bottom: 15px;
}

// title
.navbar-default .navbar-brand {
    color: $white;
}
.navbar-default .navbar-brand:hover {
    color: $white;
}

.navbar-brand {
  height: 70px;
  padding-right: 30px;

}

// links
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: $white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: $white;
    background-color: $white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: $navbar-toggle;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: $navbar-toggle;
    border-bottom-color: $navbar-toggle;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: $navbar-toggle;
    border-bottom-color: $navbar-toggle;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: $navbar-toggle;
    }
}

.navbar-header {
  color: $white;
}

.nav > li > a {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;

}
