<div class="center-block">
  <div class="panel panel-default">
    <div class="panel-body">
  <div class="col-xs-6 col-sm-offset-3">
    <h1> Nova Avaliação </h1>

    <%= render 'form' %>
    <br />
    <%= link_to 'voltar', professor_path(@professor) %>
  </div>
</div>
</div>
</div>
